<form (ngSubmit)="addContact()" [formGroup]="addContactForm">
  <span>
    <label for="inputName"></label>
    <input type="text" name="name" formControlName="name"
          id="inputName" placeholder=" name ...">
  </span>
  <span>
    <label for="inputAge"></label>
    <input type="number" name="age" formControlName="age"
           id="inputAge" placeholder=" age ...">
  </span>

  <button class="button btn-primary" [disabled]="!addContactForm.valid">Add</button>

  <div *ngIf="checkRequired(name)" class="errormessage">Enter your name</div>
</form>
