.container {
  display:flex;
  flex-direction: row;

  padding: 5px 0 5px 0;
  background-color: deeppink;
}

.child {
  padding: 5px;
  color: yellow;
}

.active {
  padding: 5px;
  background-color: lightpink;
  color: saddlebrown;
}
