<table class="table">
  <tr>
    <th>Name</th>
    <th>E-mail address</th>
    <th></th>
  </tr>
  <tr *ngFor="let contact of contacts">
    <td>{{contact | contactName}}</td>
    <td>{{contact.email}}</td>
    <td>
      <button class="btn">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>

<form (ngSubmit)="addContact()" [formGroup]="addContactForm">
  <span>
    <label for="inputFirstName"></label>
   <input type="text" name="firstName" formControlName="firstName"
          id="inputFirstName">
  </span>
  <span>
    <label for="inputSurname"></label>
    <input type="text" name="surname" formControlName="surname"
           id="inputSurname">
  </span>
  <span>
    <label for="inputEmail"></label>
    <input type="text" name="email" formControlName="email"
           id="inputEmail">
  </span>

  <button class="btn btn-primary" [disabled]="!addContactForm.valid">Add</button>

  <div *ngIf="checkRequired(firstName)" class="errormessage">Enter your first name</div>
  <div *ngIf="checkRequired(surname)" class="errormessage">Enter your surname</div>
  <div *ngIf="checkRequired(email)" class="errormessage">Enter your e-mail address</div>
  <div *ngIf="checkPattern(email)" class="errormessage">Your e-mail address is invalid</div>

</form>
