body {
  font-family: 'Trebuchet MS', sans-serif;
  background: yellow;
  color: blue;
}

.errormessage {
  color: red
}

.voorgrond {
  margin: 10px 25% 0 25%;
  padding: 10px;
  background-color: lightgoldenrodyellow;
}
